@model IEnumerable<Service.Entities.Users>
@{
    ViewBag.Title = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-primary">
        <h6 class="m-0 font-weight-bold text-white">Comentarios</h6>
    </div>
    <div class="card-body">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-sm-12">

                <!-- DataTales Example -->
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>City</th>
                                <th>Phone</th>
                                <th>Website</th>
                                <th>Company Name</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>City</th>
                                <th>Phone</th>
                                <th>Website</th>
                                <th>Company Name</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.name</td>
                                    <td>@item.username</td>
                                    <td>@item.email </td>
                                    <td>@item.address.city </td>
                                    <td>@item.phone </td>
                                    <td>@item.website </td>
                                    <td>@item.company.name </td>


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr />
        <!-- DataTales Example -->
    </div>
</div>
